#### BLACKJACK: Given three integers between 1 and 11,


*   if their sum is less than or equal to 21, return their sum.
*   If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10.
*  if the sum (even after adjustment) exceeds 21, return 'BUST'

    
1.   blackjack(5,6,7) --> 18
2.   blackjack(9,9,9) --> 'BUST'
3. blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    

*   paper_doll('Hello') --> 'HHHeeellllllooo'
*   paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [7]:
def paper_doll(text):
    result = ''
    for char in text:
        result = result + char * 3
    return result

In [3]:
paper_doll('Hello')

'HHHeeellllllooo'

In [8]:
def paper_doll(word):
  for i in word:
      print(i*3,end="")
paper_doll('Hello')

HHHeeellllllooo

In [ ]:
def paper_doll(word):
  return ''.join(char *3 for char in word)

#### SUMMER OF '69: Return the sum of the numbers in the list, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9 in input). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14
    summer_69([]) --> 0

In [ ]:
def summer_69(arr): # define a function which can accept list of numbers
    total = 0 # define  a variable in which we can add all numbers except a) 6 and b) 9 and c) numbers which are in between 6 and 9
    add = True
    for num in arr:
        while add: # c)
            if num != 6: # a)
                total = total + num
                break
            else:
                add = False
        while not add: # b)
            if num != 9:
                break
            else:
                add = True
                break
    return total

Complex examples related to functions

Scope of variabls and functions

In [40]:
def flat():
  print('I am in flat')
  def kitchen():
    print('I am in kitchen')
  kitchen()

In [41]:
flat()

I am in flat
I am in kitchen

In [42]:
kitchen()

NameError: ignored

In [32]:
x = 10 # this copy of x is defined outside the function, scope of this copy is:  inside document you can call it anywhere
def sample():
  x = 100 # this copy of x is defined inside the function, scope of this copy is: you can call it inside its function only
  return x, id(x)

In [33]:
print(x, id(x))

10 134186647437840

In [34]:
sample()

(100, 134186647440720)

In [48]:
a = 10  # this copy of a is defined outside the function
def dummy():
  global a # this is referring the same copy of  a which is defined outside the function, and this is global copy means if you make any changes inside the function/ outside function , changes will reflect in same variable's copy
  a = 200
  return a , id(a)

In [49]:
print(a, id(a) , 'before you run function')

10 134186647437840 before you run function

In [50]:
dummy()

(200, 134186647443920)

In [51]:
print(a, id(a) , 'after you run function')

200 134186647443920 after you run function

We can nest n number of functions

In [62]:
def test1():
  print('I am in test1')
  def test2():
    print('I am in test2')
    def test3():
      print('I am in test3')
    test3()
  def test4():
    print('I am in test4')
  test2()
  test4()
  print('I came back in test1')

In [63]:
test1()

I am in test1
I am in test2
I am in test3
I am in test4
I came back in test1

In [64]:
test4()

NameError: ignored

In [65]:
def funa():
  print("l am in fun1")
  def fun2():
    print('l am in fun2')
    def fun3():
      print('l am in fun3')
    fun3()

In [66]:
funa()

l am in fun1